<h1 class='text-center'>Prospectos</h1> 
<p class='text-center'> <%= link_to "Nuevo prospecto", new_lead_path %> </p>

<div class="container mt-5">
  <%= render 'layouts/leads_count' %>  
</div>



 
 <%= render @leads %>
    
  



